.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.save
*.Rcheck
run_cov.R
dev*
*.bu
inst/extdata/test.sam
inst/extdata/hg19ToHg38.over.chain
cigared
cigared.RDS
inst/doc
doc
Meta
*.tar.gz
tests/testthat/testthat-problems.rds
tests/testthat/test_improved_calc_fragLen.R
tmp.png
