exportPattern("^[[:alpha:]]+")
export(vennCounts)
import(data.table, except = c("shift", "first", "second"))
import(GenomicRanges, IRanges, S4Vectors)
import(assertthat)

importFrom('limma', 'vennCounts')
