exportPattern("^regionSetPlot")

exportPattern("^setPlot")
exportPattern("^fetch")
export("regionSetCluster")
export("centerFixedSizeGRanges")
export("centerAtMax")
export("applySpline")
export("overlapIntervalSets")
export("setPlotMakeMT")
export("set_list2memb")
import(data.table, except = c("shift", "first", "second"))
import(methods)
import(GenomicRanges)
import(IRanges, except = "quantile")
import(ggplot2)
import(png)
import(RColorBrewer)
import(magrittr)
import(eulerr)
importFrom('limma', 'vennCounts')
importFrom("graphics", "par")
importFrom("grDevices", "col2rgb", "gray", "rainbow", "rgb")
importFrom("stats", "dist", "hclust", "kmeans", "quantile", "spline")
